Pour récupérer un fichier CSV directement sans le télécharger, on peut aller le chercher sur un site open data et copier le lien, puis le coller dans le notebook.
Commençons par un fichier recensant tous les établissements français à l'étranger.

In [53]:
import pandas as pd
import io
import requests

url2 ="http://www.nosdonnees.fr/dataset/97d435c1-3e82-469e-a28e-7e74c67b5fa7/resource/b98858d6-db31-4816-bbfb-a4ea37514a28/download/ifmonde.csv"
s2=requests.get(url2).content
file2=pd.read_csv(io.StringIO(s2.decode('utf-8')))

In [54]:
file2.describe()

          ID PAYS     ID LIEU        Pays  Zone géographique   Longitude
count  206.000000  206.000000  203.000000         203.000000  183.000000
mean    45.330097  103.500000   44.965517           3.364532   26.642223
std     27.254496   59.611241   27.327203           1.429922   42.766362
min      1.000000    1.000000    1.000000           1.000000  -99.199451
25%     19.250000   52.250000   19.000000           2.500000    6.860772
50%     48.000000  103.500000   48.000000           4.000000   18.079523
75%     68.000000  154.750000   67.500000           4.000000   35.729404
max     93.000000  206.000000   93.000000           7.000000  139.690817

In [55]:
file2.head()

,ID PAYS,ID LIEU,Titre,Pays,Zone géographique,Adresse,Adresse Suite,Adresse (Code postal),Ville,Pays,...,Titre site web 1,Url site web 1,Titre site web 2,Url site web 2,Titre site web 3,Url site web 3,Titre site web 4,Url site web 4,Champ complément d'infos,mail Direction
0,1,1,Institut français,1.0,5.0,Lycée Esteqlal,NaN,NaN,Kaboul,Afghanistan,...,site internet,NaN,facebook,http://www.facebook.com/pages/Institut-Fran%C3...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,Institut français Afrique du Sud,2.0,1.0,"Cnr Margaret Mcingana Street & Gwigwi Mrwebi,",Newtown Cultural Precinct P.O Box 542,Newtown 2113,Johannesburg,Afrique du Sud,...,site internet,www.ifas.org.za,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,Centre Culturel Français d'Alger,3.0,4.0,7 rue Hassani Issad,NaN,16000,Alger,Algérie,...,site internet,www.ccf-dz.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,Centre Culturel Français d'Annaba,3.0,4.0,8 boulevard du 1er Novembre 1954,NaN,23000,Annaba,Algérie,...,site internet,http://www.ccfannaba.org/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5,Centre Culturel Français de Constantine,3.0,4.0,1 boulevard de l'Indépendance,NaN,25000,Constantine,Algérie,...,site internet,www.ccf-constantine.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
file2.columns

Index(['ID PAYS', 'ID LIEU', 'Titre', 'Pays', 'Zone géographique', 'Adresse',
       'Adresse Suite', 'Adresse (Code postal)', 'Ville', 'Pays ', 'Téléphone',
       'Fax', 'Contact / mail', 'Latitude', 'Longitude', 'Titre site web 1',
       'Url site web 1', 'Titre site web 2', 'Url site web 2',
       'Titre site web 3', 'Url site web 3', 'Titre site web 4',
       'Url site web 4', 'Champ complément d'infos', 'mail Direction'],
      dtype='object')

In [57]:
len(file2)

206

In [61]:
from collections import Counter
nb_country = Counter(file2['ID PAYS'])
print(nb_country, "Nombre total de pays : ", len(nb_country))

Counter({4: 11, 54: 9, 48: 8, 61: 8, 3: 6, 19: 6, 38: 5, 44: 5, 50: 5, 10: 4, 30: 4, 31: 4, 47: 4, 49: 4, 70: 4, 73: 4, 89: 4, 91: 4, 12: 3, 15: 3, 78: 3, 83: 3, 87: 3, 6: 2, 8: 2, 11: 2, 13: 2, 14: 2, 16: 2, 22: 2, 23: 2, 37: 2, 45: 2, 52: 2, 55: 2, 67: 2, 68: 2, 69: 2, 74: 2, 75: 2, 77: 2, 79: 2, 81: 2, 90: 2, 92: 2, 1: 1, 2: 1, 5: 1, 7: 1, 9: 1, 17: 1, 18: 1, 20: 1, 21: 1, 24: 1, 25: 1, 26: 1, 27: 1, 28: 1, 29: 1, 32: 1, 33: 1, 34: 1, 35: 1, 36: 1, 39: 1, 40: 1, 41: 1, 42: 1, 43: 1, 46: 1, 51: 1, 53: 1, 56: 1, 57: 1, 58: 1, 59: 1, 60: 1, 62: 1, 63: 1, 64: 1, 65: 1, 66: 1, 71: 1, 72: 1, 76: 1, 80: 1, 82: 1, 84: 1, 85: 1, 86: 1, 88: 1, 93: 1}) Nombre total de pays :  93

Changement de données : votes de la ville de Grenoble

In [42]:
url_grenoble = "http://www.nosdonnees.fr/dataset/7bdd6059-4189-4188-b3e3-0dd070a3f025/resource/edf2217b-f56b-4bc9-977d-5163b4a69706/download/tableaufevrier2016.csv"
req=requests.get(url_grenoble).content
grenoble=pd.read_csv(io.StringIO(req.decode('utf-8')))

In [43]:
grenoble.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Conseil municipal de Grenoble le 29 février 2016', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'POUR', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'CONTRE', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'ABSTENTION',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Non vote', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Hors salle', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32'],
      dtype='object')

In [44]:
grenoble.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Conseil municipal de Grenoble le 29 février 2016,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Non vote,Unnamed: 26,Unnamed: 27,Unnamed: 28,Hors salle,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,Mois,N°,1° délib,Lettre,ss CODE,Libellé de la délibération,Vote secret,Nb am.,Amande\nMent,Unanimité,...,LR-UDI abst,FN abst,RCGE non vote,PS non vote,LR-UDI non vote,FN non vote,RCGE hors salle,PS hors salle,LR-UDI hors salle,FN hors salle
1,2016-02-29,2,X,B002,ACTION SOCIALE,DELIBERATION N° 2 - (B 002) - ACTION SOCIALE -...,NaN,NaN,NaN,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-29,3,NaN,E007,ADMINISTRATION GENERALE,DELIBERATION N° 3 - (E 007) - ADMINISTRATION G...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-29,"4,1",NaN,A001,VOIES PUBLIQUES,DELIBERATION N° 4 - (A 001) - VOIES PUBLIQUES ...,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-29,"4,2",NaN,A001,VOIES PUBLIQUES,DELIBERATION N° 4 - (A 001) - VOIES PUBLIQUES ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN

La première ligne est mauvaise (c'est le titre général du fichier) et ne nous donne pas les noms des colonnes, alors on la supprime à l'aide de la fonction header.

In [62]:
grenoble=pd.read_csv(io.StringIO(req.decode('utf-8')), header = 1)

In [63]:

grenoble.head()

,Mois,N°,1° délib,Lettre,ss CODE,Libellé de la délibération,Vote secret,Nb am.,Amande Ment,Unanimité,...,LR-UDI abst,FN abst,RCGE non vote,PS non vote,LR-UDI non vote,FN non vote,RCGE hors salle,PS hors salle,LR-UDI hors salle,FN hors salle
0,2016-02-29,2,X,B002,ACTION SOCIALE,DELIBERATION N° 2 - (B 002) - ACTION SOCIALE -...,NaN,NaN,NaN,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-29,3,NaN,E007,ADMINISTRATION GENERALE,DELIBERATION N° 3 - (E 007) - ADMINISTRATION G...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-29,"4,1",NaN,A001,VOIES PUBLIQUES,DELIBERATION N° 4 - (A 001) - VOIES PUBLIQUES ...,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-29,"4,2",NaN,A001,VOIES PUBLIQUES,DELIBERATION N° 4 - (A 001) - VOIES PUBLIQUES ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,2016-02-29,NaN,NaN,NaN,VOEU,Voeu du groupe LR sur le jumelage de Grenoble ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

Ce qui se serait passé avec header = 2 :

In [64]:
grenoble2=pd.read_csv(io.StringIO(req.decode('utf-8')), header = 2)
grenoble2.columns
grenoble2.head()

,2016-02-29,2,X,B002,ACTION SOCIALE,DELIBERATION N° 2 - (B 002) - ACTION SOCIALE - Adhésion à l'Association Réseau Francophone des Villes Amies des Ainés et Désignation d'un représentant de la Ville,Unnamed: 6,Unnamed: 7,Unnamed: 8,x,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,2016-02-29,3,NaN,E007,ADMINISTRATION GENERALE,DELIBERATION N° 3 - (E 007) - ADMINISTRATION G...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-29,"4,1",NaN,A001,VOIES PUBLIQUES,DELIBERATION N° 4 - (A 001) - VOIES PUBLIQUES ...,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-29,"4,2",NaN,A001,VOIES PUBLIQUES,DELIBERATION N° 4 - (A 001) - VOIES PUBLIQUES ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,2016-02-29,NaN,NaN,NaN,VOEU,Voeu du groupe LR sur le jumelage de Grenoble ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-29,5,NaN,B001,SANTE PUBLIQUE,DELIBERATION N° 5 - (B 001) - SANTE PUBLIQUE -...,NaN,NaN,NaN,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN